# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db

# Instance folder
instance/

# Migration folder
migrations/alembic.ini
migrations/env.py
migrations/versions/*.pyc

# Environment-specific files
config.py

# Ignore local environment variables
.env
